
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


*{
    margin: 0;
    padding: 0;
    
}


.logo{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width : 33%;
    border: solid white;
    border-radius: 50px;
    background: wheat;

}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
}

.nav-list{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: white;

}

.nav-list li a:hover{
    text-decoration: none;
    color: rgb(158, 158, 158);
    
}

.rightNav{
    width: 30%;
    text-align: right;
    padding: 20px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 8px;
}

.background{
    background: rgba(0,0,0,0.7) url('/assets/bg3.jpg');
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 50%;
    height:75%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}

.firstsection{
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#ico{
    width:200px;
    padding : 2px 0;
}

.firstHalf{
    width:70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secondhalf{
    width:30%;
}

.txtbig{
    font-size: 40px;
}
.txtsmall{
    font-size: 18px;
}

.btn{
    padding : 8px 20px;
    margin: 7px 0;
    border-radius: 8px;
    border: 2px solid white;
    background: none;
    color: white;
    cursor: pointer;
}

.btn:hover{
    padding : 8px 20px;
    margin: 7px 0;
    border-radius: 8px;
    border: 2px solid rgb(158, 158, 158);
    background: none;
    color: rgb(158, 158, 158);
    cursor: pointer;
}

.btn:active{
    padding : 7px 19px;
    margin: 7px 3px;
    border-radius: 8px;
    border: 2px solid rgb(158, 158, 158);
    background: none;
    color: rgb(158, 158, 158);
    cursor: pointer;
}

.btn-sm{
    border-radius: 8px;
    border: 2px solid white;
    background: none;
    color: white;
    cursor: pointer;
    padding: 3px 10px;
    vertical-align: middle;
}

.btn-sm:active:hover{
    padding: 2.5px 9.5px;
    color: rgb(158, 158, 158);
    vertical-align: middle;
}

.btn-sm:active{
    padding: 2.5px 9.5px;
    margin: 0px 0;
    vertical-align: middle;
}

.secRight{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

#thn{
    width:220px;
    height: 220px;
    padding : 2px 0;
    border-radius: 18px;
    border: 2px solid black;
}

.paras{
    padding: 10px;
}
.paras p{
    padding: 5px;
}

#thnl{
    width:220px;
    height: 220px;
    padding : 2px 0;
    border-radius: 18px;
    border: 2px solid black;
}

#thnll{
    width:220px;
    height: 220px;
    padding : 2px 0;
    border-radius: 18px;
    border: 2px solid black;
}

.contact{
    background-color: #f6f5f4;
    height: 90vh;
}

.text_center{
    text-align: center;
    padding: 10px 0px 0px 0px;
    font-family: 'Ubuntu', sans-serif;
}

.cus{
    max-width: 500px;
    margin: 36px auto;
}

.cus input{
    width: 94%;
    font-size: 19px;
    border: 2px solid gray;
    border-radius: 6px;
    margin: 14px 0px;
    padding: 5px 3px;
}

.forminput{
    width: 94%;
    font-size: 19px;
    border: 2px solid gray;
    border-radius: 6px;
    margin: 14px 0px;
    padding: 5px 3px;
}

.btn-dark{
    background-color: #343a40;
    border: 2px solid #343a40;
    color: white;
    border-radius: 6px;
    padding: 5px 10px;
    margin: 14px 0px;
    font-size: 20px;
}

.footerclass{
    position: static;
}

#footer{
    background-color: rgb(19, 19, 19);
    height: 150px;
    width: 100%;
    text-align: center;
    padding-top: 6px;

}

.fa {
    padding: 6px 20px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 30%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  #socials{
    margin-top: 10px;
  }
  
  #end{
    color: rgb(146, 146, 146);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: solid;
    border-width: 2px;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    width: 96%;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    padding: 2px;
    margin-top: 12px;
  }

  .footersec{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    color: black;
    font-family: 'Ubuntu', sans-serif;
  }


  .burger{
    position:absolute;
    cursor: pointer;
    right: 5%;
    top: 20px;
    display: none;

  }
  .line{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
  }
  .wmlogo{
    position: absolute;
    width:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    left : 5%;
    top : 8px;
    display: none;

  }
  .wmlogo img{
    width : 48px;
    border: solid white;
    border-radius: 50px;
    background: wheat;

}

/* 
media query starts here */

@media only screen and (max-width: 1100px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 447px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }
    .rightNav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .wmlogo{
        display: block;
    }
    .logo{
        display: none;
    }
    .h-nav{
        height: 72px;
    }
    .v-class{
        opacity: 0;
    }
    .box-main{
        flex-direction: column-reverse;
        height: auto;
    }
    .secRight{
        flex-direction: column-reverse;
        height: auto;
    }
    .secondhalf{
        width: auto;
    }
    #end{
        font-size: 10px;
    }
}
