body{
    margin: 0;
    padding: 0;
    background-image: url(./assets/bg66.jpg);
    background-attachment: fixed;
}
#nav{
    background-color: aqua;
    height : 50px;
    width : 100%;
    position: fixed;
}

#header{
    background-image: url(./assets/bg77.jpg);
    background-attachment: fixed;
    line-height: 350px;
    height: 320px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#sp1{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#mname{
    font-size: 40px;
    
}

#nameContainer{
    border-style: solid;
    border-right: 0;
    border-left: 0;
    margin : 5px;
    width: 650px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }

.input-cursor {
    display: inline-block;
    width: 2px;
    height: 42px;
    background-color: black;
    margin-left: 4px;
    animation: blink .6s linear infinite alternate;
}


#superBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#box1{
    background-color: rgb(220, 215, 222);
    height: 450px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#pfprnd{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#bdata{
    width: 50%;
    text-align: center;
    line-height: 5px;
    font-family: sans-serif;
}

#box2{
    background-color: rgb(215, 202, 141);
    height: 450px;
    width: 50%;
    text-align: center;
    line-height: 20px;
    font-family: sans-serif;
}

#abtme{
    margin-top : 40px;
}
#bodyy{
    align-items: center;
    align-content: center;
    height : 450px;
}
#content{
    background-color: rgb(12, 189, 205);
    width:80%;
    height: 400px;
    margin: auto;
    margin-top: 50px;
}
#footer{
    background-color: rgb(42, 165, 54);
    height: 100px;
    width: 100%;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 75%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin : 1px;
    border-radius: 10px;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 69.67%;
    margin: auto;
    font-family:sans-serif;
    font-size: 14px;
    border-radius: 10px;
  }

  .accordion:after {
    content: '\02795'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\274C";
  }

  #accont{
      margin-top: 20px;
      align-items: center;
      align-content: center;
  }